*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  font-family: "Nunito", sans-serif;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #666;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  text-align: center;
  width: 600px;
  border: 2px solid #000000;
  padding: 10px 20px;
  align-self: center;
  margin: 20px 0;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
}

.main {
  width: 100%;
  flex: 1 1 auto;
  padding: 10px 20px;
  display: flex;
}

.pokemon-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 auto;
  width: 250px;
  padding: 20px;
  margin: 10px 10px;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.card img {
  align-self: center;
}

.name {
  font-weight: bold;
  align-self: center;
}

.name::first-letter {
  text-transform: uppercase;
}

.types {
  display: flex;
}
.type {
  margin: 5px;
  padding: 7px 10px;
}

.grass {
  border-radius: 10px;
  border: 1px solid #10a105;
  background: linear-gradient(0deg, rgb(6, 162, 24) 0%, rgb(50, 135, 70) 44%, rgb(255, 255, 255) 100%);
}
.poison {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(146, 6, 162) 0%, rgb(183, 88, 202) 44%, rgb(255, 255, 255) 100%);
}
.fire {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(177, 12, 12) 0%, rgb(188, 53, 53) 44%, rgb(255, 255, 255) 100%);
}
.water {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(41, 12, 155) 0%, rgb(94, 67, 202) 44%, rgb(255, 255, 255) 100%);
}
.flying {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(168, 33, 75) 0%, rgb(177, 54, 130) 44%, rgb(255, 255, 255) 100%);
}
.bug {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(102, 58, 14) 0%, rgb(144, 114, 43) 44%, rgb(255, 255, 255) 100%);
}
.electric {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(116, 120, 17) 0%, rgb(158, 178, 54) 44%, rgb(255, 255, 255) 100%);
}
.normal {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(31, 143, 113) 0%, rgb(17, 157, 143) 44%, rgb(255, 255, 255) 100%);
}
.ground {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(66, 67, 67) 0%, rgb(144, 148, 147) 44%, rgb(255, 255, 255) 100%);
}
.fairy {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(200, 213, 12) 0%, rgb(200, 213, 20) 44%, rgb(255, 255, 255) 100%);
}
.fighting {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(51, 186, 150) 0%, rgb(3, 227, 145) 44%, rgb(255, 255, 255) 100%);
}
.psychic {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(194, 28, 108) 0%, rgb(165, 61, 144) 44%, rgb(255, 255, 255) 100%);
}
.rock {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(101, 87, 94) 0%, rgb(189, 144, 180) 44%, rgb(255, 255, 255) 100%);
}
.steel {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(24, 128, 54) 0%, rgb(26, 167, 85) 44%, rgb(255, 255, 255) 100%);
}
.ice {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(27, 122, 163) 0%, rgb(118, 128, 160) 44%, rgb(255, 255, 255) 100%);
}
.ghost {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(108, 135, 147) 0%, rgb(159, 222, 165) 44%, rgb(255, 255, 255) 100%);
}
.dragon {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(144, 36, 36) 0%, rgb(148, 61, 73) 44%, rgb(255, 255, 255) 100%);
}
.dark{
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(34, 33, 33) 0%, rgb(149, 147, 147) 44%, rgb(255, 255, 255) 100%);
}

.type::first-letter {
  text-transform: uppercase;
}

.type-info::first-letter {
  text-transform: uppercase;
}

.pokemon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: fixed;
  right: 20px;
  width: 30%;
  padding: 30px 20px;
}

.pokemon-info-card {
  flex: 0 0 70%;
  border: 2px solid #000000;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.info-name {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.info-name::first-letter {
  text-transform: uppercase;
}

.info-table {
  width: 100%;
  border: 1px solid #000000;
}

.info-row {
  display: flex;
  min-height: 30px;
}

.info-row:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.info-col-name {
  border-right: 1px solid #000000;
  flex: 1 1 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-col-quantity {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.load-more {
  margin: 20px 0 0 0;
}

.load-more button {
  background-color: #1988e4;
  color: #ffffff;
  font-weight: bold;
  padding: 20px 100px;
  border-radius: 15px;
  font-size: 25px;
}
